# Diretórios gerados
node_modules
.next
.vercel
out
build
dist
coverage
public

# Arquivos gerados
package-lock.json
pnpm-lock.yaml
yarn.lock
next-env.d.ts

# Arquivos de configuração específicos
.env*
!.env.example

# Docker
Dockerfile
.dockerignore
docker-compose*.yml 