version: '3.8'

services:
  bytefulcode:
    image: ${REGISTRY}/${IMAGE_NAME}:latest
    container_name: ${CONTAINER_NAME_APP}
    restart: unless-stopped
    ports:
      - "3002:3002"
    environment:
      NODE_ENV: production

      # Email configuration
      SMTP_HOST: ${SMTP_HOST}
      SMTP_PORT: ${SMTP_PORT}
      SMTP_USER: ${SMTP_USER}
      SMTP_PASSWORD: ${SMTP_PASSWORD}
      EMAIL_CONTACT: ${EMAIL_CONTACT}
      PHONE_NUMBER: ${PHONE_NUMBER}
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost:3002/api/health"]
      interval: 30s
      timeout: 10s
      retries: 3
    deploy:
      update_config:
        order: start-first
        failure_action: rollback
